<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>HelloSend03.html</title>
<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body>

<div>
	<h1>최초 요청 페이지</h1>
	<h2>(HelloSend03.html)</h2>
	<hr>
</div>

<div>

	<!-- 서블릿 주소 요청 -->
	<form action="receive" method="post">
		First Name
		<input type="text" name="firstName" class="txt"><br><br>
		Last Name
		<input type="text" name="lastName" class="txt"><br><br>
		<br>
		
		<button type="submit" class="btn"
		style="width: 200px; font-size: 15pt;">submit</button>
	</form>
</div>

</body>
</html>